<h1>Fancy cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li> <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <% if cocktail.photo.attached?  %>
    <%= cl_image_tag cocktail.photo.key, height: 20, width: 30, crop: :fill %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to "Create a new cocktail", new_cocktail_path %>
