<h1>Add a new dose</h1>

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.association :ingredient, include_hidden: false, as: :select %>
  <%= f.input :description %>
  <%= f.submit "Add ingredient" %>
<% end %>
